:root {
  --secondary: #fff3f9;
  
}

* {
  cursor: none !important;
}

@font-face {
  font-family: 'Halenoir Font';
  src: url('/Users/winginchan/Downloads/Halenoir Font/Halenoir.woff2') format('woff2'),
       url('/Users/winginchan/Downloads/Halenoir Font/Halenoir.woff') format('woff');
}

.top-menu,
button {
  font-family: 'Halenoir Font';
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; 
  height: 100px
}

.title {
  font-size: 50px;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
}
.top-nav {
  display: flex;
  gap: 20px;
}

.top-nav button {
  background: #ececec;
  color: #0c0808;
  border: none;
  border-radius: 100%;
  padding: 13px 10px;
  border: none;
  font-size: 12px;
  transition: all 1s ease;
}

.top-nav button:hover {
  background: #ff0000;
  transform: translateY(-2px);
}
#map {
  top: 120px;
  height: calc(100vh - 120px);
}

* {
  font-family: 'F25 Bank Printer', monospace !important;
}

body {
  margin: 0;
  font-family: "F25 Bank Printer";
  text-align: center;
  font-size: 15px;
  overflow-x: hidden;
  background-color: #d3d2d5;
  color: #090953;
}

#map {
  width: 100%;
  height: calc(100vh - 100px);
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1; 
  backdrop-filter: blur(9px); 

}

.leaflet-tile {
  filter: brightness(45%);
}

section {
  display: none;
  padding: 20px;
  position: relative;
  z-index: 10;
}


section.active {
  display: block;
}


.intro-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(22, 37, 73, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12000;
}

.intro-popup.hidden {
  display: none;
  pointer-events: none;
}

.intro-box {
  background: #e8e4dc;
  color: #0d1f4e;
  padding: 40px;
  max-width: 500px;
  border-radius: 12px;
  text-align: center;

}
.custom-cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  pointer-events: none;
  z-index: 999999;

  transform: translate(-50%, -50%);
}

.custom-cursor::before,
.custom-cursor::after {
  content: '';
  position: absolute;
  background: #ff0000;
}

.custom-cursor::before {
  width: 3px;
  height: 24px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.custom-cursor::after {
  height: 3px;
  width: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.cross-marker {
  width: 10px;
  height: 10px;
  position: relative;
  cursor: pointer;
}


.cross-marker::before {
  width: 20px;
  height: 20px;
}


.distance-label {
  pointer-events: none;
  font-family: "Courier New", monospace;
  text-align: center;
  white-space: nowrap;
}

@keyframes sonar {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(2.5); opacity: 0; }
}

.cross-marker::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(255, 25, 0);
  border-radius: 50%;
  opacity: 90%;
  z-index: -1;
}

#bg-image {
  position: fixed;
  top: 100;
  left: 30;
  width: 50%;
  height: 50%;
  background-position: center;
  pointer-events: none;


  z-index: 999; /* IMPORTANT: must be ABOVE map */
}