/* p{
    color: red;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background-color: yellow;
} */

.q_and_a {
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}
.question {
    font-weight: bold;
    text-transform: auto;
    text-indent: 20px;
    letter-spacing: 0.02em;
}
.answer {
    margin-left: 13px;

}