/* p{
    color: red;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background-color: yellow;
} */
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
     width: 100%;
    height: 50%;
     color: rgb(146, 213, 255);
    
}

body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    height: 50%;
    background-color: rgb(112, 81, 67);
    color: rgb(26, 40, 58);
}

.q_and_a {
    text-align: left;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    height: 50%;
}
.question {
    font-weight: bold;
    text-transform: auto;
    text-indent: 10px;
    letter-spacing: 0.02em;
     width: 60%;
    height: 50%;
    color: rgb(167, 212, 223);
}
.answer {
    margin-left: 4px;
    text-align: right;
    width: 90%;
    background-color: lightblue;
    color: rgb(15, 39, 71);

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    width: 50%;
    height: auto;
}