/* p{
    color: red;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background-color: yellow;
} */
h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    color: rgb(146, 213, 255);
     margin-left: 140px;
}

body{
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    height: 70%;
    background-color: rgb(112, 81, 67);
    color: rgb(26, 40, 58);
}

.q_and_a {
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
.question {
    font-weight: bold;
    text-transform: 2em;
    text-indent: 10px;
    letter-spacing: 0.02em;
     width: 60%;
    height: 50%;
    color: rgb(167, 212, 223);
}
.answer {
    margin-left: 350px;
    text-align: right;
    width: 90%;
    background-color: lightblue;
    color: rgb(15, 39, 71);

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    width: 50%;
    height: auto;
}

#square {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}