/* p{
    color: red;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    

}
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    background-color: yellow;
} */
.q_and_a {
    width: 500%;
    margin: auto;
}
.question {
    font-weight: bold;
    text-transform: uppercase;
    text-indent: -30px;
    letter-spacing: 0.05em;
}
.answer {
    margin-left: 20px;
}